.btn-primary{ background-color: $primary; }
.btn-info{ background-color: $info; }
.btn-warning{ background-color: $warning; }
.btn-danger{ background-color: $danger; }
.btn-success{ background-color: $success; }

.alert{ color: $white; }
.alert-info{ background-color: $info; }
.alert-warning{ background-color: $warning; }
.alert-danger{ background-color: $danger; }
.alert-success{ background-color: $success; }

.btn-rect{ border-radius: 0; }