.newsletter-widget{
  width: 100%;
  padding: 15px;
  border-radius: 5px;

  h2{ font-weight: bold; margin: 0 0 20px; text-align: center; font-family: 'Montserrat', sans-serif; }
  .btn{ letter-spacing: 1px; text-transform: uppercase; }
}